footer{

    background-color: #151515;
    height: 15vh;

    .text-footer{
        padding-top: 20px;
    }
    

    h5{
        text-align: center;
        color: #fff;
    }

    p{
        text-align: center;
        color: #fff;
    }
}