@import '../config';

#search-box{
    
    .search-text{
        border: 2px solid $my-red;
        border-radius: 10px;
        margin-top: 40px;
        height: 7vh;
        width: 95%;
        margin-left:30px ;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-size: 90%;
        padding-left: 30px;

        &:focus{
            color: #000;
            font-weight: bold;
        }
}
}