
@media only screen and (max-width: 600px){
    @include minimize;
    @include hamburger;
    .toggle-bar{
        margin-right: 20px
    }
    @include menu-lists;
    @include mob-search;

    .background-header{
    .main-lists{
        display: none;
    }
h1{
    font-size: 200% !important;
}

.searches{
    display: none;
}
}
}

@media only screen and (min-width: 600px) and (max-width:767px) {
    @include minimize;
    @include hamburger;
    @include menu-lists;
    @include mob-search;

    .background-header{
    .main-lists{
        display: none;
    }

    h1{
        font-size: 220% !important;
    }

.searches{
    display: none;
}
}
}


@media only screen and (min-width: 767px) and (max-width:991px){
    .mobile-nav{
        width: 104vw !important;
    }
    @include minimize;
    @include hamburger;
    @include menu-lists;
    @include mob-search;

    .background-header{
    .main-lists{
        display: none;
    }
h1{
    font-size: 225%;
}
.searches{
    display: none;
}
}
}

@media only screen and (min-width: 991px) and (max-width:1235px){
    .mobile-nav{
        display: none;
    }
}

@media only screen and (min-width: 1235px){
    .mobile-nav{
        display: none;
    }
}