#characters{
    h1{
        color: $perfect-black;
        font-family: warden typeface;
        padding-top: 50px;
        text-transform: lowercase;
    }

    .character-btn{

        button{
            float: right;
            padding: 5px;
            transition: 0.5s;
          @include red-btn-body-position;
            @include transition-btn;
            border: transparent;       
}


    

        i{
            color: #fff;
            background-color: $my-red;
            border: 2px solid $my-red;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            padding: 10px;

            &:hover{
                background-color:$my-red-black;
                border: transparent;
            }
}

    }

    .img-item-container{
        display: flex;
        list-style: none;
        animation:  slide_right 1.3s ease ;
    -webkit-animation:  slide_right 1.3s ease ;
    overflow:hidden;


        li{
            width: 50%;
            height: auto;
            position: relative;
            margin-right: 10%;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;

            &:hover{
               @include up-movement;
}
                a{
                    text-decoration: none;
                    display: inline-block;
                    position: absolute;
                bottom: 0;
                left: 0;
                height: 65px;

                    .border-design{

                        #BG{
                            opacity: 0.9;
                        }

                        .bg{
                            fill:$my-red;                            
                        }

                        .outline-2{
                            fill: transparent;
                        }
                    }
                

                h3{
                font-size: 90%;
                text-align: center;
                color: #fff;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-transform: uppercase;
                transform:translateY(-150%) ;
                -webkit-transform:translateY(-150%) ;
                -moz-transform:translateY(-150%) ;
                -ms-transform:translateY(-150%) ;
                -o-transform:translateY(-150%) ;
}
                }
            

            img{
                width: 200px;
                height: 250px;
                cursor: pointer;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                transition: 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;
                &:hover{
                    border: 5px solid $my-red;
                }
                
        }
    }
}

@keyframes slide_right{
    0%{
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -o-transform: translateY(50%);
}

    100%{
        transform: translateX(0);
    }
}

}
