@import './config';

@include extra-small-devices{

    .minimize{
        overflow: hidden;
        position: fixed;
    }

    .main-lists{
        display: none;
    }

    .background-header{
        position: relative;
        .toggle-bar{
            color: #fff;
            cursor: pointer;
            font-size: 150%;
            position: absolute;
            right: 5%;
            bottom: 37%;
            &:hover{
                color: $my-red;
            }
        }
        }
    .mobile-nav{
        #check{
            display: none;
        }

        label{
            float: right;
        .close-circle{
            color: #fff;
            cursor: pointer;
            font-size: 250%;
            position: relative;
            top: 20px;
            &:hover{
                color: $my-red;
            }
        }
    }

        transition: 1s ease;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: -100vh;
        z-index: 2;
        background-size: cover;
        background-position: center;
        .mobile-list-container{
            list-style: none;
            display: flex;
            flex-direction: column;
            transform: translate(0,40px);
            -webkit-transform: translate(0,100px);
            -moz-transform: translate(0,40px);
            -ms-transform: translate(0,40px);
            -o-transform: translate(0,40px);

            li{
                margin: 30px;
            }

            li a {
                text-decoration: none;
                font-size: 200%;
                color: #fff;
                &:hover{
                    color:#DA0000 ;
                opacity: 1;
                }
            
                &:hover::after{
                    opacity: 1;
                }
            
                &::after{
                    content:"";
                    display: block;
                    width: 35%;
                    margin-left: 10px;
                    border-bottom: 2px solid white;
                    transition: 0.4s;
                    opacity: 0;
                    position: relative;
                    top: 6px;
                }
            }
        }
    }

    .mobile-searches{
        display: flex;

        a{
            text-decoration: none;
            color: #fff;

            h6{
                font-size: 200%;
                margin: 30px;

                &:hover{
                    color: $my-red;
        }
            }
        }
    }

    #characters{
        h1{
            font-size: 150%;
        }

        .img-item-container{
            width: 90vw;
            li{
                margin-right: 2%;
                position: relative;
                right: 35px;
             a{

                h3{
                    font-size: 70%;
                    transform: translate(0,-35px);
                    -webkit-transform: translate(0,-35px);
                    -moz-transform: translate(0,-35px);
                    -ms-transform: translate(0,-35px);
                    -o-transform: translate(0,-35px);
}

                img{
                    height: 150px;
                    width: 150px;
                }
               }
            }

            .border-design{
                top: 5.5rem;
            }
        }
    }

    #comics{

        .row{
           width: auto;
        }

        .comics-main-container{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(47.5%,1fr));
        }

        h1{
            font-size: 100%;
        }


       .box{
            a{
                img{
                    width: 250%;
                }

                h3{
                    font-size: 60%;
                }
            }
        }

        .comic-btn{
            a{
                font-size: 50%;
                transform: translateY(-120%);
                -webkit-transform: translateY(-120%);
                -moz-transform: translateY(-120%);
                -ms-transform: translateY(-120%);
                -o-transform: translateY(-120%);
}
        }
    }
    #marvel-games{
        h1{
            font-size: 100%;
        }
         .row{
            width: auto;

         }
        
        .games-main-container{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(47.5%,1fr));

            .box-game{
                img{
                    width: 70%;
                }
            }
        }
    }
}

//media queries for header
@media only screen and (min-width:320px) and (max-width:351px) {
    header{
        background-position: center;
        .slider-custom{
      z-index: -5;
      transform: translateX(-150px);
      -webkit-transform: translateX(-150px);
      -moz-transform: translateX(-150px);
      -ms-transform: translateX(-150px);
      -o-transform: translateX(-150px);
      
h1{
    transform: translate(0,-300%);
    -webkit-transform: translate(0,-300%);
    -moz-transform: translate(0,-300%);
    -ms-transform: translate(0,-300%);
    -o-transform: translate(0,-300%);
    font-size: 80%;
    white-space:normal;
}

        p{
            display: none;
        }
        img{
            float: none;
        }

}

.btn-slider{
    .right{
        position: initial;
        z-index:1000;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        visibility: hidden;

        i{
            font-size: 90%;
        }
    }

    .left{
        position: initial;
        z-index:1000;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        visibility: hidden;

        i{
            font-size: 90%;
;
        }
    }
}



.navigation-btn{
    transform: translateY(16rem);
    -webkit-transform: translateY(16rem);
    -moz-transform: translateY(16rem);
    -ms-transform: translateY(16rem);
    -o-transform: translateY(16rem);
}

        h1{
            font-size: 130%;
            transform: translateX(-30px);
            -webkit-transform: translateX(-30px);
            -moz-transform: translateX(-30px);
            -ms-transform: translateX(-30px);
            -o-transform: translateX(-30px);
}
    }
}

@media only screen and (min-width:352px) and (max-width: 450px){
    header{
        background-position: center;
        .slider-custom{
      z-index: -5;
      transform: translateX(-115px);
      -webkit-transform: translateX(-115px);
      -moz-transform: translateX(-115px);
      -ms-transform: translateX(-115px);
      -o-transform: translateX(-115px);
     
h1{
    transform: translate(0,-300%);
    -webkit-transform: translate(0,-300%);
    -moz-transform: translate(0,-300%);
    -ms-transform: translate(0,-300%);
    -o-transform: translate(0,-300%);
    font-size: 80%;
    white-space:normal;
}

        p{
            display: none;
        }
        img{
            float: none;
        }

}

.btn-slider{
    .right{
        position: initial;
        z-index:1000;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        visibility: hidden;

        i{
            font-size: 90%;
        }
    }

    .left{
        position: initial;
        z-index:1000;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        visibility: hidden;

        i{
            font-size: 90%;
;
        }
    }
}



.navigation-btn{
    transform: translateY(16rem);
    -webkit-transform: translateY(16rem);
    -moz-transform: translateY(16rem);
    -ms-transform: translateY(16rem);
    -o-transform: translateY(16rem);
}

        h1{
            font-size: 130%;
            transform: translateX(-30px);
            -webkit-transform: translateX(-30px);
            -moz-transform: translateX(-30px);
            -ms-transform: translateX(-30px);
            -o-transform: translateX(-30px);
}
    }
}

@media only screen and (min-width:451px) and (max-width:600px) {
    header{
        background-position: center;
        .slider-custom{
      z-index: -5;
      transform: translateX(-20px);
      -webkit-transform: translateX(-20px);
      -moz-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
      -o-transform: translateX(-20px);
      
h1{
    transform: translate(0,-300%);
    -webkit-transform: translate(0,-300%);
    -moz-transform: translate(0,-300%);
    -ms-transform: translate(0,-300%);
    -o-transform: translate(0,-300%);
    font-size: 95%;
    white-space:normal;
}

        p{
            display: none;
        }
        img{
            float: none;
        }

}

.btn-slider{
    .right{
        position: initial;
        z-index:1000;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        visibility: hidden;

        i{
            font-size: 90%;
        }
    }

    .left{
        position: initial;
        z-index:1000;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        visibility: hidden;

        i{
            font-size: 90%;
;
        }
    }
}



.navigation-btn{
    transform: translateY(16rem);
    -webkit-transform: translateY(16rem);
    -moz-transform: translateY(16rem);
    -ms-transform: translateY(16rem);
    -o-transform: translateY(16rem);
}

        h1{
            font-size: 130%;
            transform: translateX(-30px);
            -webkit-transform: translateX(-30px);
            -moz-transform: translateX(-30px);
            -ms-transform: translateX(-30px);
            -o-transform: translateX(-30px);
}
    }
}
//




@include large-devices{

    
    .mobile-nav{
        display: none;
    }

    .background-header{
    .toggle-bar{
        display: none;
    }
}
}