/* SETUP */
/* Navigation*/
header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.671)), to(#161616)), url(../IMAGES/Hero.jpg);
  background-image: linear-gradient(rgba(22, 22, 22, 0.671), #161616), url(../IMAGES/Hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 105vh;
  margin-top: -27px;
}

header h1 {
  font-family: warden typeface;
  color: #DA0000;
  padding: 60px;
}

/* header background color */
.background-header {
  background-color: #231e23;
  height: 20vh;
}

/* Navigation*/
.main-lists {
  list-style: none;
  transform: translate(-160px, -140px);
  -webkit-transform: translate(-160px, -140px);
  -moz-transform: translate(-160px, -140px);
  -ms-transform: translate(-160px, -140px);
  -o-transform: translate(-160px, -140px);
}

.main-lists li {
  display: inline-block;
  font-size: 130%;
  margin: 10px;
  float: right;
}

.main-lists li a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-lists li a:hover {
  color: #DA0000;
  opacity: 1;
}

.main-lists li a:hover::after {
  opacity: 1;
}

.main-lists li a::after {
  content: "";
  display: block;
  width: 75%;
  margin: auto;
  border-bottom: 2px solid white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  position: relative;
  top: 6px;
}

/* SEARCH BOX*/
header input {
  border: 2px solid white;
  border-radius: 6px;
  font-size: 90%;
  padding: 10px;
  transform: translate(50rem, -210px);
  width: 20% !important;
  -webkit-transform: translate(50rem, -210px);
  -moz-transform: translate(50rem, -210px);
  -ms-transform: translate(50rem, -210px);
  -o-transform: translate(50rem, -210px);
}

/*carousels*/
.slider-custom {
  max-height: 0;
  padding-left: 10%;
  margin-top: 120px;
  display: none;
  animation: slide_right 1.3s ease;
  -webkit-animation: slide_right 1.3s ease;
}

.slider-custom h1 {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  text-transform: lowercase;
}

.slider-custom p {
  color: white;
  font-size: 90%;
  -webkit-transform: translate(55px, -120px);
          transform: translate(55px, -120px);
  line-height: 1.7;
  width: 55%;
  letter-spacing: 1px;
}

.slider-custom img {
  float: right;
  width: 35%;
  -webkit-transform: translate(0, -5%);
          transform: translate(0, -5%);
}

button {
  background: transparent;
  border: transparent;
}

.btn-slider button i {
  color: white;
  -webkit-transition: 0.4;
  transition: 0.4;
}

.btn-slider button i:hover {
  color: #DA0000;
}

.left {
  position: relative;
  bottom: 10rem;
  left: 2rem;
}

.right {
  float: right;
  position: relative;
  bottom: 10rem;
  right: 2rem;
}

.btn-header {
  color: white;
  text-decoration: none;
  border: 2px solid #DA0000;
  background-color: #DA0000;
  border-radius: 5px;
  padding: 10px;
  width: 10%;
  text-align: center;
  font-size: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  left: 55px;
  bottom: 90px;
}

.btn-header:hover {
  color: white;
  background-color: #a00000;
  border-color: #a00000;
}

/* navigation dots */
.navigation-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.dot {
  border: 2px solid white;
  border-radius: 50%;
  background-color: black;
  height: 13px;
  width: 13px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.active {
  background: white;
}

.dot:hover {
  background: white;
}

/* slide animation*/
@-webkit-keyframes slide_right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes slide_right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

/* Navigation*/
#characters h1 {
  color: #231e23;
  font-family: warden typeface;
  padding-top: 50px;
  text-transform: lowercase;
}

#characters .character-btn button {
  float: right;
  padding: 5px;
  transition: 0.5s;
  transform: translate(0, -3.5rem);
  -webkit-transform: translate(0, -3.5rem);
  -moz-transform: translate(0, -3.5rem);
  -ms-transform: translate(0, -3.5rem);
  -o-transform: translate(0, -3.5rem);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: transparent;
}

#characters .character-btn i {
  color: #fff;
  background-color: #DA0000;
  border: 2px solid #DA0000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 10px;
}

#characters .character-btn i:hover {
  background-color: #7a0000;
  border: transparent;
}

#characters .img-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  animation: slide_right 1.3s ease;
  -webkit-animation: slide_right 1.3s ease;
  overflow: hidden;
}

#characters .img-item-container li {
  width: 50%;
  height: auto;
  position: relative;
  margin-right: 10%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#characters .img-item-container li:hover {
  transform: translateY(-1%);
  -webkit-transform: translateY(-1%);
  -moz-transform: translateY(-1%);
  -ms-transform: translateY(-1%);
  -o-transform: translateY(-1%);
}

#characters .img-item-container li a {
  text-decoration: none;
  display: inline-block;
  height: 33vh;
  position: relative;
}

#characters .img-item-container li a .border-design {
  position: absolute;
  left: 0;
  bottom: 0;
}

#characters .img-item-container li a .border-design #BG {
  opacity: 0.9;
}

#characters .img-item-container li a .border-design .bg {
  fill: #DA0000;
}

#characters .img-item-container li a .border-design .outline-2 {
  fill: transparent;
}

#characters .img-item-container li a h3 {
  font-size: 90%;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  transform: translateY(-150%);
  -webkit-transform: translateY(-150%);
  -moz-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  -o-transform: translateY(-150%);
}

#characters .img-item-container li img {
  width: 200px;
  height: 250px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#characters .img-item-container li img:hover {
  border: 5px solid #DA0000;
}

#comics {
  padding-top: 150px;
}

#comics h1 {
  color: #231e23;
  font-family: warden typeface;
  padding-top: 50px;
  text-transform: lowercase;
}

#comics .comic-btn a {
  float: right;
  padding: 7px;
  font-size: 90%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transform: translate(0, -3.5rem);
  -webkit-transform: translate(0, -3.5rem);
  -moz-transform: translate(0, -3.5rem);
  -ms-transform: translate(0, -3.5rem);
  -o-transform: translate(0, -3.5rem);
  border: transparent;
  text-decoration: none;
  border: 2px solid #DA0000;
  color: #fff;
  border-radius: 10px;
  background-color: #DA0000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#comics .comic-btn a:hover {
  background-color: #7a0000;
  border-color: #7a0000;
}

#comics .box {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#comics .box:hover {
  transform: translateY(-1%);
  -webkit-transform: translateY(-1%);
  -moz-transform: translateY(-1%);
  -ms-transform: translateY(-1%);
  -o-transform: translateY(-1%);
}

#comics .box h3 {
  font-size: 80%;
}

#comics .box p {
  font-size: 60%;
}

#comics .box .rating ul {
  position: relative;
  bottom: 20px;
}

#comics .box .rating ul li {
  list-style: none;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

#comics .box .rating ul li i {
  font-size: 80%;
  color: #F5A962;
}

#comics .box .rating ul li:last-child {
  left: 13%;
  font-size: 80%;
  transform: translate(0, 13%);
  -webkit-transform: translate(0, 13%);
  -moz-transform: translate(0, 13%);
  -ms-transform: translate(0, 13%);
  -o-transform: translate(0, 13%);
}

#comics img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#marvel-games {
  padding-top: 150px;
}

#marvel-games h1 {
  color: #231e23;
  font-family: warden typeface;
  padding-top: 50px;
  text-transform: lowercase;
}

#marvel-games .box-game {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#marvel-games .box-game:hover {
  transform: translateY(-1%);
  -webkit-transform: translateY(-1%);
  -moz-transform: translateY(-1%);
  -ms-transform: translateY(-1%);
  -o-transform: translateY(-1%);
}

#marvel-games .box-game img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#marvel-games .box-game h3 {
  font-size: 80%;
}

#marvel-games .box-game p {
  font-size: 60%;
}

footer {
  background-color: #151515;
  height: 15vh;
}

footer .text-footer {
  padding-top: 20px;
}

footer h5 {
  text-align: center;
  color: #fff;
}

footer p {
  text-align: center;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 20px;
  background-color: #dad8d8;
  font-family: lato;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.row {
  margin: auto;
  width: 1140px;
}
/*# sourceMappingURL=Style.css.map */