.img-header{
    transform: translateY(30px);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 500px;
    width: 100%;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
     h3{
         font-size: 400%;
         color: #fff;
         text-align: right;
         transform: translate(15px,160px);
         -webkit-transform: translate(15px,160px);
         -moz-transform: translate(15px,160px);
         -ms-transform: translate(15px,160px);
         -o-transform: translate(15px,160px);
}
}