@import '../config';

.info-container{
    background-color: $perfect-black;
    position: relative;
    height: 100vh;

    @include spinner;
    @include rotation;

    .img-container{
        @include spinner;
        @include rotation;

        .spinner{
            position: absolute;
            right: 70%;
          
        }
        position: relative;
        img{
            height: auto;
            width: 30%;
            position: absolute;
            left: 10%;
        }
    }

    .description-container{
        position: absolute;
        bottom: 30%;
        left: 50%;
        @include spinner;
        @include rotation;

        .spinner{
            position: relative;
            left: 11rem;
            bottom: 5rem;
}
         
        p{ width: 70%;
        }
    }
}

.characters-comics-container{

    @include spinner;
    @include rotation;

    padding-top: 30px;
    padding-left:20px;
    .character-comics{
        img{
            width: auto;
            height: auto;
        }

        h3{
            color: #000;
            font-size: 90%;
        }
    }
}