/* Navigation*/
/* Navigation*/
.info-container {
  background-color: #231e23;
  position: relative;
  height: 100vh;
}

.info-container .spinner {
  font-size: 500%;
  color: #DA0000;
  text-align: center;
  animation: rotation 0.5 ease;
  -webkit-animation: rotation 1.0s infinite linear;
  margin-top: 100px;
  margin-left: 45%;
  margin-bottom: 100px;
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.info-container .img-container {
  position: relative;
}

.info-container .img-container .spinner {
  font-size: 500%;
  color: #DA0000;
  text-align: center;
  animation: rotation 0.5 ease;
  -webkit-animation: rotation 1.0s infinite linear;
  margin-top: 100px;
  margin-left: 45%;
  margin-bottom: 100px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.info-container .img-container .spinner {
  position: absolute;
  right: 70%;
}

.info-container .img-container img {
  height: auto;
  width: 30%;
  position: absolute;
  left: 10%;
}

.info-container .description-container {
  position: absolute;
  bottom: 30%;
  left: 50%;
}

.info-container .description-container .spinner {
  font-size: 500%;
  color: #DA0000;
  text-align: center;
  animation: rotation 0.5 ease;
  -webkit-animation: rotation 1.0s infinite linear;
  margin-top: 100px;
  margin-left: 45%;
  margin-bottom: 100px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.info-container .description-container .spinner {
  position: relative;
  left: 11rem;
  bottom: 5rem;
}

.info-container .description-container p {
  width: 70%;
}

.characters-comics-container {
  padding-top: 30px;
  padding-left: 20px;
}

.characters-comics-container .spinner {
  font-size: 500%;
  color: #DA0000;
  text-align: center;
  animation: rotation 0.5 ease;
  -webkit-animation: rotation 1.0s infinite linear;
  margin-top: 100px;
  margin-left: 45%;
  margin-bottom: 100px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.characters-comics-container .character-comics img {
  width: auto;
  height: auto;
}

.characters-comics-container .character-comics h3 {
  color: #000;
  font-size: 90%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 20px;
  background-color: #dad8d8;
  font-family: lato;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  color: #fff;
}

a {
  text-decoration: none;
}

h6 {
  font-family: 'Dela Gothic One', cursive;
  color: #DA0000;
  padding-top: 20px;
  padding-left: 20px;
}

h6i {
  color: #DA0000;
}

.row {
  margin: auto;
  width: 1140px;
}
/*# sourceMappingURL=charactersInfo.css.map */