/* I imported this nav file from gamesStyles folder because it's just the same thing*/
@import '../gamesStyles/navigations';
/* i'm doing the same thing agian (:*/
@import '../gamesStyles/imgHeader';
@import './characterLists';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-size: 20px;
    background-color: rgb(218, 216, 216);
    font-family: lato;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row{
    margin: auto;
    width: 1140px;
}